@using System.Security.Claims
@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Explanation</h1>

<p>Name: @Context.User.Identity?.Name</p>
<p>Email: @Context.User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.Email))?.Value</p>
<p>Sub: @Context.User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.NameIdentifier))?.Value</p>
<p>CustomClaim AccountId: @Context.User.Claims.FirstOrDefault(c=>c.Type.Equals("EmployerAccountId"))?.Value</p>
<a asp-action="GetVerified" asp-controller="Home" class="govuk-button">GetVerified</a>