@model string
@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">POC Auth - Your account details</h1>

<p>Email: @Model</p>

<a asp-action="SigningOut" asp-controller="Home" class="govuk-button">Sign Out</a>
