@using System.Security.Claims
@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">POC Auth - The user is authenticated but not verified</h1>

<p>Name: @Context.User.Identity?.Name</p>
<p>Email: @Context.User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.Email))?.Value</p>
<p>Sub: @Context.User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.NameIdentifier))?.Value</p>
<a asp-action="SigningOut" asp-controller="Home" class="govuk-button">Sign Out</a>