@using System.Security.Claims
@{
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">DfE Sign-in - You've signed in</h1>

<table class="govuk-table">
    <tbody>
        <tr>
            <th align="left" class="govuk-table__caption govuk-table__caption--m">Claims</th>
        </tr>
        <tr>
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">Value</th>
        </tr>
        @foreach (var claim in Context.User.Claims.ToList())
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@claim.Type</td>
                <td class="govuk-table__cell">@claim.Value</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="SigningOut" asp-controller="Home" class="govuk-button">Sign Out</a>