@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Framework</h1>
    <h2 class="display-4">Shared UI Demo</h2>
    <p>Learn about <a href="https://docs.microsoft.com/en-gb/aspnet/overview">building Web apps with ASP.NET Framework</a>.</p>
</div>
