<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.8" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.1.0.54309" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.1.0.54309" targetFramework="net462" />
</packages>