@model List<SFA.DAS.UI.Activities.Areas.ActivitiesList.Models.ActivityModel>
    
<div>
    <p>This is shared content</p>
    <p>Model name is:</p>
    @Model.Count.ToString() items
    <table>
        @foreach (var item in Model)
        {
            <tr>
                @Html.DisplayFor(a=>item)
            </tr>
        }
    </table>
</div>
