@model SFA.DAS.UI.Activities.Areas.ActivitiesList.Models.ActivitiesListModel
    
<div>
    <p>This is shared content</p>
    <p>Model name is:</p>
    @Model.Activities.Count.ToString() items
    <table>
        @foreach (var item in Model.Activities)
        {
            <tr>
                @Html.DisplayFor(a=>item)
            </tr>
        }
    </table>
</div>
