.button.button-secondary {
    border: none; 
    background: none; 
    color: #005ea5; 
    text-decoration: underline; 
    box-shadow: none
}
.button.button-secondary:hover {
    border: none; 
    background: none; 
    color:#2e8aca;
    text-decoration: underline; 
    box-shadow: none
}