@model ErrorViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Access denied</h1>
        <p class="govuk-body">Your account does not have sufficient privileges</p>
        <p><a href="/" class="govuk-button">Go back to the service homepage</a></p>
    </div>
</div>