body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

.container {
    width: 90%;
    background: lightgrey;
    margin-top: 3px;
    padding-top: 5px;
}

.panel {
    display: flex; 
}

h2, h3 {
    margin: 3px 5px;
}

.col {
    width: 45%;
    background: #eeeeee;
    margin: 5px;
    padding: 3px;
    float: left;
    display: flex;
    flex-direction: column;
}


