@model SFA.DAS.UI.Activities.Areas.ActivitiesList.Models.ActivitiesListModel
    
<div>
    <p>Here's some activities pulled out of Elastic...</p>
    @Model.Activities.Count.ToString() items
  
        @foreach (var item in Model.Activities)
        {
                @Html.Partial("Activity", item)
            <hr />
        }

</div>
